.bgimg{
	background: url(../img/TiYanGuan/page_tiyan_fd.jpg)no-repeat;
	position: fixed;
	z-index: -999;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.container{
	width: 85%;
	margin: auto;
}
.xin{
	color: black;
}
.xin:hover{
	text-decoration: none;
	color: orange;
}
.navbar-default .navbar-nav>li:nth-child(4)>a {
    color: orange;
}
.navbar-default .navbar-nav>li>a:hover {
    color: orange;
}
.dxia{
	display: none;
}
.dxia>ul>li:nth-child(1){
	margin-top: -55px;
}
.dian{
	right: 0px;
}
@media  (max-width: 768px) {
	.fi{
		position: fixed;
		top: 0px;
		z-index: 99;
	}
	.box{
		margin-top: 100px;
	}
	.a{
		display: none;
	}
	.nav-ul{
		display: none;
	}
	.nav-ul>ul{
		position: absolute;
		top: 0px;
		right: 10px;
		background: indianred;
		width: 0px;
		z-index: 111;
	}
	.nav-ul>ul>li{
		border-bottom: 1px solid white;
		color: white;
	}
	.dxia{
		position: absolute;
		top: 0px;
		right: 0px;
		width: 0px;
		background: coral;
		height: 100%;
		z-index: 111;
		display: none;
	}
	.dxia>ul>li{
		list-style: none;
		border-bottom: 1px solid white;
		color: white;
		padding: 11px;
	}
	.sp1{
		position: relative;
		display: inline-block;
		font-size: 50px;
		color: orange;
		left: -40px;
		width: 40px;
		height: 40px;
		top: -16px;
		cursor: pointer;
		background: white;
	}
}
.nav-ul>ul>li:nth-child(1)>a{
	padding-left: 0px;
}
.nav-ul>ul>li>a{
	font-size: 15px;
}
.nav-ul>ul>li>div{
	display: none;
	position: absolute;
	top: 50px;
	z-index: 22;
	background: coral;
	width: 120px;
	color: white;
}
.nav-ul>ul>li:hover>div{
	display: block;
}
.nav-ul>ul>li>div>p{
	padding: 5px;
	margin: 0px;
}
.nav-ul>ul>li>div>p:hover{
	background: chocolate;
}
/*中间*/
@media (max-width:768px ) {
	.sc{
		display: none;
	}
	.sh{
		font-size: 15px;
	}
}
.tiyan,.tiyan1{
	display: flex;
}
.tiyan>div>p,.tiyan1>div>p{
	overflow: hidden;
}
.tiyan1{
	width: 90%;
	margin: auto;
}
/*底*/
.img1:hover>.img{
	display: block;
}
.img{
	position: absolute;
	top: -118px;
	right: 30px;
	display: none;
}
.fan{display: none;}
.pp>p:hover{
	color: orange;
	cursor: pointer;
}
@media  (max-width: 768px){
	.d1{
		display: none;
	}
	.colp{
		text-align: left;
	}
}
@media  (max-width: 1000px){
	.d{
		display: none;
	}
	
}